* {
    margin: 0px;
    padding: 0px;
}

.body {
    background-color: rgb(163, 142, 142);
    height: 100vh;
}

.gauche {
    background-color: rgb(212, 212, 212);
    border-right: 1px black solid;
}

.droite {
    background-color: rgb(182, 229, 229);
    height: 100vh;
    overflow: auto;
}

.droiteOptionnel {
    background-color: rgb(109, 224, 224);
}

.basGauche {
    height: calc(100vh - 17vh);
    overflow: auto;
}

.hautGauche {
    height: 17vh;
}

.hautDroite {
    background-color: rgb(182, 229, 229);
}

.basDroite {
    padding: 0px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}