<div class="body row">
    <div class="gauche col-sm-3 d-none d-sm-block">
        <div class="hautGauche">
            <ng-container *ngComponentOutlet="les_components.hautgauche"></ng-container>
        </div>
        <!-- le menu de l'application -->
        <div class="basGauche menu" *ngIf="api.global.afficher_menu_sidenav">
            <ng-container *ngComponentOutlet="menu"></ng-container>
        </div>
        <!-- la liste qui concerne par basDroite -->
        <div class="basGauche" *ngIf="!api.global.afficher_menu_sidenav">
            <ng-container *ngComponentOutlet="fenetres[api.global.fenetre_selectionnee]?.basGauche"></ng-container>
        </div>
    </div>
    <div class="droite col-sm-9 d-block d-sm-block">
        <div class="d-block d-sm-none hautDroite sticky-top shadow-lg p-3 mb-1 bg-white rounded">
            <ng-container *ngComponentOutlet="les_components.hautdroite"></ng-container>
        </div>
        <div class="basDroite">
            <ng-container *ngComponentOutlet="fenetres[api.global.fenetre_selectionnee]?.basDroite"></ng-container>
        </div>
    </div>
</div>
<!-- les modal -->

<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterconsommationcomponent"></ng-container>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterdepenseomponent"></ng-container>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproductioncomponent"></ng-container>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterentreecomponent"></ng-container>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterfournisseur"></ng-container>
</div>