<div class="body">
    <div class="haut row">
        <div class="hautgauche col-3" >
            <ng-container *ngComponentOutlet="les_components.hautgauche"></ng-container>
        </div>
        <div class="hautdroite col ">
            <ng-container *ngComponentOutlet="les_components.hautdroite"></ng-container>
        </div>
        <!-- <div class="hautdroiteoptionnel col">
            <ng-container *ngComponentOutlet="les_components.hautdroiteoptionnel"></ng-container>
        </div> -->
    </div>
    <div class="bas row">
        <div class="basgauche col-3">
            <ng-container *ngComponentOutlet="les_components.basgauche"></ng-container>
        </div>
        <div class="basdroite col">
            <ng-container *ngComponentOutlet="les_components.basdroite"></ng-container>
        </div>
        <!-- <div class="basdroiteoptionnel col">
            <ng-container *ngComponentOutlet="les_components.basdroiteoptionnel"></ng-container>
        </div> -->
    </div>
</div>