<div class="container" [ngClass]="{'disabled_div_event':produit?.etat==-1}">
    <div class="d-flex mb-2 les_statistiques">
        <button (click)="choisir_jour(item)" *ngFor="let item of api.global.production_par_jours_par_enregistreur;let first = first;" type="button" [ngClass]="item==jour?'btn bg-white text-primary': 'btn bg-primary text-white'">
            {{item.date| date :'dd MMMM YYYY'}} <br>
            <span class="badge bg-primary">{{item.chiffre}}</span>
        </button>
    </div>
    <div class="row" *ngIf="api.global.les_produits_sortants.length==0">
        <p> pas d'activié sur cette page</p>
    </div>

    <div class="row" *ngIf="api.global.les_produits_sortants.length!=0">
        <div class="card col-md-5 p-2">
            <h4>Détails <i class="fa fa-trash right croix m-2" (click)="supression_produit()"> </i> <i class="fa fa-edit right croix m-2" (click)="modifier_produit()"></i> </h4>
            <ul class="list-group">
                <li class="list-group-item">
                    Libellé : <strong>{{produit?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Unité : <strong>{{produit?.unite}}</strong>
                </li>
                <li class="list-group-item">
                    Prix de vente : <strong>{{produit?.prix_unitaire}}</strong>
                </li>
                <li class="list-group-item">
                    Catégorie : <strong>{{produit?.categorie}}</strong>
                </li>
            </ul>
            <h4>Statistiques sans dépenses</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    Prix de revient : <strong>{{get_prix_revient()|number}}</strong> fcfa
                </li>
                <li class="list-group-item">
                    Bénéfice unitaire : <strong>{{(produit?.prix_unitaire-get_prix_revient())|number}}</strong> fcfa
                </li>
                <li class="list-group-item">
                    Bénéfice total : <strong>{{(get_sum_production()-get_sum_consommation())|number}}</strong> fcfa
                </li>
            </ul>
            <h4>Statistiques avec les dépenses</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    Prix de revient : <strong>{{get_prix_revient_avec_depense()|number}}</strong> fcfa
                </li>
                <li class="list-group-item">
                    Bénéfice unitaire : <strong>{{(produit?.prix_unitaire-get_prix_revient_avec_depense())|number}}</strong> fcfa
                </li>
                <li class="list-group-item">
                    Bénéfice total : <strong>{{(get_sum_production()-get_sum_consommation() - get_sum_depense())|number}}</strong> fcfa
                </li>
            </ul>
        </div>
        <div class="card col-md-7 p-2">
            <h2 class="card-title"><span>Consommation</span>
                <i class="fa fa-add fa-1x icone_ajouter" (click)="ajouter_consommation()"></i>
                <span class="right bg-warning btn">{{get_sum_consommation()|number}} fcfa</span>
            </h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of les_details?.consommation | slice: (page_consommation-1) * pageSize_consommation : page_consommation * pageSize_consommation | filter:recherche_consommation ">
                    {{item.quantite+" "+item.unite+" "+item.nom}} <strong class="right">{{item.quantite*item.prix_unitaire}} fcfa</strong>
                </li>
                <li class="list-group-item" *ngIf="les_details?.consommation.length==0">
                    pas de consommations
                </li>
            </ul>
            <ngb-pagination [pageSize]="page_consommation" [pageSize]="pageSize_consommation" [collectionSize]="les_details?.consommation.length"></ngb-pagination>
            <hr>
            <h2 class="card-title"><span>Dépense</span>
                <i class="fa fa-add fa-1x icone_ajouter" (click)="ajouter_depense()"></i>
                <span class="right bg-warning btn ">{{get_sum_depense()|number}} fcfa</span>
            </h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of les_details?.depense | slice: (page_depense-1) * pageSize_depense : page_depense * pageSize_depense | filter:recherche_depense">
                    <strong>{{regulier(item.regulier)+": "}}</strong> {{item.description}} <strong class="right">{{item.montant}} fcfa</strong>
                </li>
                <li class="list-group-item" *ngIf="les_details?.depense.length==0">
                    pas de depenses
                </li>
            </ul>
            <ngb-pagination [pageSize]="page_depense" [pageSize]="pageSize_depense" [collectionSize]="les_details?.depense.length"></ngb-pagination>
            <hr>
            <h2 class="card-title">Production
                <i class="fa fa-add fa-1x icone_ajouter" (click)="ajouter_production()"></i>
                <span class="right bg-success btn text-white">
                    {{get_sum_production()|number}} fcfa</span></h2>
            <ul class="list-group">
                <<<<<<< HEAD <li class="list-group-item" *ngFor="let item of les_details?.production">
                    {{item.quantite+" "+item.unite+" "+item.nom}} <strong class="right">{{item.quantite*item.prix_unitaire}} fcfa</strong> =======
                    <li class="list-group-item" *ngFor="let item of les_details?.production | slice: (page_production-1) * pageSize_production : page_production * pageSize_production | filter:recherche_production">
                        {{item.quantite+" "+item.unite+" "+item.nom}} <strong class="right">{{item.quantite*item.prix_unitaire}} fcfa</strong> >>>>>>> version1.2
                    </li>
                    <li class="list-group-item" *ngIf="les_details?.production.length==0">
                        pas de productions
                    </li>
            </ul>
            <ngb-pagination [pageSize]="page_production" [pageSize]="pageSize_production" [collectionSize]="les_details?.production.length"></ngb-pagination>
        </div>
    </div>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproduitcomponent"></ng-container>
</div>