<div *ngIf="api.bool.ajouterentree">
  <div class="content container-fluid">
      <div class="page-header">
          <div class="d-flex justify-content-between">
              <h3 class="page-title mt-1">Ajouter une entree pour le {{item?.date|date:'dd MMMM YYYY'}}</h3>
              <span (click)="api.bool.ajouterentree=!api.bool.ajouterentree" class="material-icons croix">
                  {{api.bool.ajouterentree?"close":"add"}}
              </span>
          </div>
      </div>
      <hr>
      <form class="row">
    <div><h6>stock actuel ={{parse(stock_en_cour)+parse(entree.quantite)}} </h6></div>
          <div class="form-group col-md-4">
              <label>Quantité</label>
              <input placeholder="quantité"  type="number" class="form-control" name="stock" [(ngModel)]="entree.quantite">
          </div>
          <div class="form-group col-md-4">
              <label>Produit</label>
              <select name="option" [(ngModel)]="entree.id_produit" (change)="changement()" class=" form-select" aria-label="Default select example">
                  <option [value]="0" >Sélectionnez un produit</option>
                  <option  class="d-flex justify-content-between" [value]="item.id_produit" *ngFor="let item of api.global.les_produits_entrants;let i=index;let f=first">{{item.nom}} {{item.stock}}</option>
              </select>
          </div>
          <div class="form-group col-md-4">
            <label>Fournisseur</label>
            <select name="option" [(ngModel)]="entree.id_fournisseur" (change)="changement()" class=" form-select" aria-label="Default select example">
                <!-- <option [value]="0" >Sélectionnez un fournisseur </option> -->
                <option  class="d-flex justify-content-between" [value]="item.id_fournisseur" *ngFor="let item of api.global.les_fournisseurs ;let i=index;let f=first">{{item.nom}} </option>
                <hr>
                <option   value="nouveau_fournisseur">Nouveau fournisseur</option>
            </select>
        </div>

      </form>
      <div *ngIf="succes" class="alert alert-success" role="alert">
          Sortie ajoutée avec succés!
      </div>
      <div *ngIf="echec" class="alert alert-danger" role="alert">
          Erreur d'ajout du produit!
      </div>
      <div class="m-2">
          <button type="button" class="col-md-2 btn btn-primary float-right"
              (click)="ajouter()">Ajouter Entree</button>
      </div>
  </div>
</div>
