<div class="container m-5">
    <div class="row">
        <div class="col-md-4">
            <h6 class="card-title m-b-20">Action</h6>
            <a [routerLink]="['/modifier-entreprise',id_entreprise]" class="btn btn-success">
                <span class="material-icons">
                    edit
                </span>
            </a>

            <a  class="btn btn-danger">
                <span class="material-icons">
                    delete
                </span>
            </a>
            <a [routerLink]="['/ajouter-gerant',id_entreprise]" class="btn btn-success">
                <span class="material-icons">
                    add
                </span>
            </a>
        </div>
        <div class="col-md-8">
            <h6 class="card-title m-b-20">Information Général</h6>
            <div class="m-b-30">
                <ul class="list-group">
                    <li class="list-group-item">
                        Nom : <strong>{{entreprise.nom_entreprise}}</strong>
                    </li>
                    <li class="list-group-item">
                        Adresse : <strong>{{entreprise.adresse}}</strong>
                    </li>
                    <li class="list-group-item">
                        email : <strong>{{entreprise.email}}</strong>
                    </li>
                    <li class="list-group-item">
                        telephone : <strong>{{entreprise.telephone}}</strong>
                    </li>
                    <li class="list-group-item">
                        description : <strong>{{entreprise.description}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h3 class="mb-4">Liste de Gérant</h3>
        <div class="table-responsive">
            <table class="table table-stripped table
                table-hover table-center mb-0 bg-light">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">telephone</th>
                        <th scope="col">profession</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let un_agents of data.les_agents">
                        <th scope="row">{{un_agents.id_personne}}</th>
                        <td>{{un_agents.prenom}}</td>
                        <td>{{un_agents.nom}}</td>
                        <td>{{un_agents.email}}</td>
                        <td>{{un_agents.telephone}}</td>
                        <td>{{un_agents.profession}}</td>
                       <td class="text-right">
                            <div class="btn-group">
                                <a [routerLink]="['/detail-gerant',un_agents.id_personne]" class="btn btn-success">
                                    <span class="material-icons">
                                    edit
                                    </span>
                                </a>
                                <button class="btn btn-danger">
                                    <span class="material-icons">
                                        delete
                                        </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>