<div class="list-group list-group-numbered">
  <div  class="list-group-item d-flex justify-content-between align-items-start item_liste list-group-item-action couleurgrise">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Produit Sortant</div>
    </div>
    <span class="badge bg-primary rounded-pill" (click)="ajouter_produit_sortant()"> <i class="fa fa-add fa-2x"></i> </span>
  </div>
    <div (click)="clique(item)" *ngFor="let item of api.global.les_produits_sortants| filter:api.global.recherche_hautgauche" class="list-group-item d-flex justify-content-between align-items-start item_liste list-group-item-action"  [ngClass]="item==jour?'active': ''">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{item.nom}}</div>
        {{item.description}}
      </div>
      <span class="badge bg-primary rounded-pill" [ngClass]="item==jour?'bg-white text-primary': ''">{{item.prix_unitaire}}</span>
    </div>
</div>