<div class="list-group list-group-numbered">
  <div  class="list-group-item d-flex justify-content-between align-items-start item_liste list-group-item-action couleurgrise">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Produit Entrant</div>
    </div>
    <span class="badge bg-primary rounded-pill" (click)="ajouter_produit_entrant()"> <i class="fa fa-add fa-2x"></i> </span>
  </div>
  <div (click)="clique(item)"
    *ngFor="let item of api.global.les_produits_entrants| filter:api.global.recherche_hautgauche"
    class="list-group-item d-flex justify-content-between align-items-start item_liste list-group-item-action"
    [ngClass]="{'couleur_body':item.id_produit==api.global.selected_item.bas_gauche_selected_item,'disabled_div':item.etat==-1}">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{item.nom}}</div>
      {{item.description}}
      
    </div>
    <span *ngIf="item.etat==0" class="badge bg-primary rounded-pill" [ngClass]="{'bg_niveau_1':item?.nb_jour<5,'bg_niveau_2':(item?.nb_jour>=5 && item?.nb_jour<8),'bg_niveau_3':item?.nb_jour>=8}">{{item.stock}}</span>
    <i (click)="refresh(item)" *ngIf="item.etat!=0" class=" fa fa-refresh"></i>
  </div>
</div>