<h2>Les productions du {{item?.date | date:'dd MMMM YYYY'}}</h2>
<hr>

<div class="row">
  
    <div class="col-6 col-md-4 col-xl-3" *ngFor="let item of les_statistiques_backend.depense_mois_en_cours">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-danger">
                          <i class=" fa fa-share-square fa-3x " style.color="white"></i>
                      </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">{{item.CA}} F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">depenses du mois en ccours</div>
            <!-- <div class="center fa fa-text-slash">depenses du mois en ccours</div> -->
        </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 " *ngFor="let item of les_statistiques_backend.montant_today ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-success " [style.background-color]="item.bg_color ">
                        <i class="fa fa-shopping-cart fa-3x "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">{{item.CA}} F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">CA d'aujourd'hui {{item.mois}}</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 " *ngFor="let item of les_statistiques_backend.depense_mois_en_cours ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-warning " [style.background-color]="item.bg_color ">
                        <i class="fa fa-money-check-alt fa-3x " [style.color]="item.t_color "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">{{item.CA}} F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">CA d'aujourd'hui {{item.mois}}</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>
    <div class="col-6 col-md-4 col-xl-3 " *ngFor="let item of les_statistiques_backend.depense_mois_en_cours ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm  btn-primary" [style.background-color]="item.bg_color ">
                      <i class="fa fa-thumbs-up fa-3x " [style.color]="item.t_color "></i>
                  </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">{{item.CA}} F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">benefices annuel</div>
            <!-- <div class="center fa fa-text-slash">benefices annuel</div> -->
        </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3 ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-warning ">
                        <i class="fa fa-money-check-alt fa-3x "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">29 000 F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">Argent non encaissé</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3 ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-warning ">
                        <i class="fa fa-money-check-alt fa-3x "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">152 000 F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">Mes Dettes au fournisseurs</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>


    <div class="col-6 col-md-4 col-xl-3 ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-warning ">
                        <i class="fa fa-money-check-alt fa-3x "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">500 000 F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">Charges du personnel</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>


    <div class="col-6 col-md-4 col-xl-3 ">
        <div class="card p-2 ">
            <div class="row align-items-center ">
                <div class="col ">
                    <button class="btn shadow-sm btn-warning ">
                        <i class="fa fa-money-check-alt fa-3x "></i>
                    </button>
                </div>
                <div class="col ">
                    <h6 class="bold ">75 000 F CFA</h6>
                    <div class=" ">---</div>
                </div>
            </div>
            <div class="center">Dépenses diverses</div>
            <!-- <div class="center fa fa-text-slash">CA d'aujourd'hui {{item.mois}}</div> -->
        </div>
    </div>
</div>
<!-- les cards -->
<div class="row m-1 ">
    <!-- chiffre d' affaire -->
    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Consommations </h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.resume_consommation ">

                <span>{{item_liste.id_produit=='all'? 'tout' : item_liste.nom}}</span>
                <span class="">{{  item_liste.id_produit=='all'? '' : item_liste.prix_unitaire | currency : 'XOF' : true : '1.2-2'}} </span>
                <span class="">{{  item_liste.quantite | currency : 'XOF' : true : '1.2-2'}}  </span>
            </li>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>
    <!-- produits mieux vendu par mois -->
    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Productions</h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.resume_production ">
                <span>{{item_liste.id_produit=='all'? 'tout' : item_liste.nom}}</span>
                <span class="">{{item_liste.quantite}}</span>
            </li>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>
    <!-- Les sorties -->
    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Ventes</h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.les_agents ">
                {{(item_liste.mois|date:"MMMM ")}}<span>{{item_liste.prenom+" "+item_liste.nom}}</span>
                <span class="">{{item_liste.CA}} FCFA</span>
            </li>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>
    <!-- Les depenses  -->

    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Depenses</h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.depense_des_quatres_mois ">
                <span> {{(item_liste.mois|date: "MMMM ")}}</span>
                <span class="badge bg-secondary ">{{item_liste.CA}} FCFA</span>
            </li>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>
    <!-- Dettes  -->

    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Dette</h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.depense_des_quatres_mois ">
                <span> {{(item_liste?.mois|date: "MMMM")}}</span>
                <span class="badge bg-secondary ">{{item_liste?.CA}} FCFA</span>
            </li>
            <ngb-pagination [(page)]="page_entree" [pageSize]="pageSize_entree" [collectionSize]="les_statistiques_backend.depense_des_quatres_mois?.length"></ngb-pagination>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>
    <!-- les entrees  -->

    <div class="card col-md-6 pt-2 ">
        <div class="card-body ">
            <h5 class="card-title ">Depenses</h5>
        </div>
        <ul class="list-group ">
            <li class="list-group-item d-flex justify-content-between " *ngFor="let item_liste of les_statistiques_backend.depense_des_quatres_mois ">
                <span> {{(item_liste.mois|date: "MMMM ")}}</span>
                <span class="badge bg-secondary ">{{item_liste.CA}} FCFA</span>
            </li>
        </ul>
        <div class="card-body ">
            <a class="btn border ">voir plus</a>
        </div>
    </div>

</div>