<div class="d-flex justify-content-between">
    <div class="d-flex">
        <button (click)="api.toggleSidenav()" type="button" class="shadow-sm bg-white rounded btn d-block d-sm-none">
            <span class="material-icons" >
                {{api.global.sidenavbool?"close":"menu"}}
            </span>
        </button>
        <h2 class="bold align-middle">GUStock</h2>
    </div>
    <div class="">
        <span class="fs-6">
            {{api.global.utilisateur_connecte?.prenom+" "+api.global.utilisateur_connecte?.nom}}
        </span><br>
        <span (click)="deconnexion()" class="material-icons align-middle croix">
            power_settings_new
        </span>
    </div>
</div>