<div class="container">
        <div class="col-md-4">
            <h6 class="card-title m-b-20">Action</h6>
            <div><button class="btn btn-warning m-1 col">Modifier</button></div>
            <div><button class="btn btn-danger m-1 col">Supprimer</button></div>
        </div>
        <div class="col-md-8">
            <h6 class="card-title m-b-20">Information Général</h6>
            <div class="m-b-30">
                <ul class="list-group">
                    <li class="list-group-item">
                        Libellé : <strong>{{produit.nom_produit}}</strong>
                    </li>
                    <li class="list-group-item">
                        Quantité : <strong>{{produit.stock}}</strong>
                    </li>
                    <li class="list-group-item">
                        Prix Unitaire : <strong>{{produit.prix_unitaire}}</strong>
                    </li>
                </ul>
            </div>
        </div>
</div>