
 <div class="">
  <div class="d-flex justify-content-between">
      <div class="fw-bold">mois</div>
      <span  class="material-icons croix">

      </span>
  </div>
  <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary">
          Stock initial <span class="badge bg-secondary">8725</span>
      </button>
      <button type="button" class="btn btn-warning">
          Stock Final <span class="badge bg-secondary">425</span>
      </button>
  </div>

</div>
