<div class="" >
    <h2>Les productions du {{item?.date | date:'dd MMMM YYYY'}}</h2>
    <hr>
    <div class="d-flex mb-2 les_statistiques">
        <button  *ngFor="let item of les_statistiques" type="button" class="btn bg-{{item.bg}} text-white">
            {{item.nom}} <br>
            <span class="badge bg-primary">{{item.chiffre}}</span>
        </button>
    </div>
       
    <div class="bg-light shadow-lg rounded p-1">
        <div class="row">
            <div class="col-6 col-sm-4 _add_produit_btn">
                <button class="btn btn-success"
                    (click)="ajouter()">Ajouter Production</button>
            </div>
            <div class="form-group col-6 col-sm-4">
              <button  class="btn btn-primary"
              (click)="downloadFile(les_productions)">load csv</button>
            </div>
            <div class="form-group col-6 col-sm-4">
              <button class="btn btn-warning mx-2" (click)="exportexcel()">
                    load-excel
                </button>
            </div>
            <div class="form-group col-6 col-sm-4">
                <input [(ngModel)]="recherche" type="search" aria-label="Search" class="form-control
                    me-1"
                    placeholder="Chercher une sortie">
                <!-- <button class="btn btn-success">Rechercher</button> -->
            </div>
        </div>
        <div class="table-responsive">
            <table id="excel-table" class="table table-stripped table
                table-hover table-center mb-0 bg-light">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Heure</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix Unitaire</th>
                        <th scope="col">Total</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let une_sortie of les_productions | filter:recherche;let i=index ">
                        <th scope="row">{{i+1}}</th>
                        <td>{{une_sortie.nom}}</td>
                        <td>{{une_sortie.date_enregistrement | date:'h:mm a'}}</td>
                        <td>{{une_sortie.quantite}}</td>
                        <td>{{une_sortie.prix_unitaire}}</td>
                        <td>{{une_sortie.prix_unitaire*une_sortie.quantite}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-danger">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="api.global.sortie_par_jours_par_enregistreur.length==0" class="container w-100 center">
                        <td class="fw-bold" colspan="4">Pas de sorties pour cette date</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-wrap">

  </div>

</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproductioncomponent"></ng-container>
</div>

