<div class="container">
    <div class="row">
        <div class="col"><button class="btn btn-primary" (click)="ajouter_vendeur()">Ajouter Vendeur</button></div>
        <div class="col"><button class="btn btn-warning" (click)="modifier_vendeur()">Modifier</button></div>
        <div class="col"><button class="btn btn-danger">Supprimer</button></div>
    </div>
    <div class="col-md-8 mt-4">
        <h6 class="card-title m-b-20">Information Général du vendeur</h6>
        <div class="m-b-30">
            <ul class="list-group">

                <li class="list-group-item">
                    Libellé : <strong>{{vendeur?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Description : <strong>{{vendeur?.description}}</strong>
                </li>
                <li class="list-group-item">
                    Dette : <strong>{{vendeur?.dette}}</strong>
                </li>
                <li class="list-group-item">
                    Téléphone : <strong>{{vendeur?.telephone}}</strong>
                </li>
                <li class="list-group-item">
                    Adresse : <strong>{{vendeur?.adresse}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart> -->
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajoutervendeurcomponent"></ng-container>
</div>
