<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        Attention
        <i class="fa fa-exclamation-circle" style.color="#ff0000"></i>: voulez vous supprimer l'entree {{id_produit_supprime.nom}}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="modifier_sortie(id_produit_supprime,item);modal.close('Save click')">modifier</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
        <button type="button" class="btn btn-outline-success" (click)="suppression(id_produit_supprime.id_sortie);modal.close('Save click')">confirmer</button>
    </div>
</ng-template>




<!-- retour  -->
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter le restant {{id_produit_supprime.nom}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        vous voulez ajouter le restant du {{id_produit_supprime.nom}} à la date {{item?.date | date:'dd MMMM YYYY'}}

        <form class="row">
            <div class="form-group required col">
                <label>retour</label>
                <input placeholder="restant" [(ngModel)]="id_produit_supprime.restant" required type="number" class="form-control" name="restant">
            </div>
        </form>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="retour(id_produit_supprime);modal.close('Save click')"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
    </div>
</ng-template>


<!-- nouveau versement -->

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">nouveau versement</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">

        vous voulez faire un nouveau versement pour la sortie {{id_produit_supprime.nom}} à la date {{item?.date | date:'dd MMMM YYYY'}}

        <form class="row">
            <div class="form-group required col">
                <label>somme a verser</label>
                <input placeholder="verse" [(ngModel)]="id_produit_supprime.verse" required type="number" class="form-control" name="verse">
            </div>
        </form>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="modal.close('Save click');verser(id_produit_supprime)">versement</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
    </div>
</ng-template>


<div class="">
    <div class="row">
        <button class="col m-2 btn btn-primary" (click)="ajouter_vendeur()">Ajouter Vendeur</button>
        <button class="col m-2 btn btn-warning" (click)="modifier_vendeur()">Modifier</button>
        <button class="col m-2 btn btn-danger">Supprimer</button>
        <div class="col m-2">
            <div class="form-group">
                <select (change)="changement_mois()" [(ngModel)]="mois_select" class="form-control form-select" aria-label="Default select example" name="type">
                   <option  *ngFor="let un_mois of les_mois" value="{{un_mois.mois}}">{{un_mois.mois}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <ul class="list-group">

                <li class="list-group-item">
                    Libellé : <strong>{{vendeur?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Description : <strong>{{vendeur?.description}}</strong>
                </li>
                <li class="list-group-item">
                    Dette : <strong>{{vendeur?.dette}}</strong>
                </li>
                <li class="list-group-item">
                    Téléphone : <strong>{{vendeur?.telephone}}</strong>
                </li>
                <li class="list-group-item">
                    Adresse : <strong>{{vendeur?.adresse}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 les_statistiques">
            <div class="row">
                <button *ngFor="let item of les_statistiques" type="button" class="btn bg-{{item.bg}} text-white col m-1">
                    {{item.nom}} <br>
                    <span class="badge bg-gradient-pink">{{item.nom_vendeur}}</span>
                    <span class="badge bg-success">{{item.chiffre}} </span><br>
                    <span class="badge bg-success">{{item.chiffre2}}</span><br>
        
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive mt-4">
        <table id="excel-table" class="table table-stripped table
            table-hover table-center mb-0 bg-light">

            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vendeur</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Quantite</th>
                    <th scope="col">Q. vendue</th>
                    <th scope="col">Q. Restante</th>
                    <th scope="col">Rations </th>
                    <th scope="col">M. vendu</th>
                    <th scope="col">M. versé</th>
                    <th scope="col">Reliquat</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Commissions</th>
                </tr>
            </thead>
            <tbody>
                <tr (dblclick)="open(content,une_sortie)" *ngFor="let une_sortie of les_sorties | filter:recherche;let i=index ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{une_sortie.vendeur}}</td>
                    <td>{{une_sortie.nom}}</td>
                    <td>{{une_sortie.quantite}}</td>
                    <td>{{une_sortie.quantite-une_sortie.restant}}</td>
                    <td>{{une_sortie.restant}}<i (click)="open(content1,une_sortie)" class="fa fa-edit text-warning"></i></td>
                    <td>{{une_sortie.ration}}</td>
                    <td>{{(une_sortie.quantite-une_sortie.restant-une_sortie.ration)*une_sortie.prix_unitaire}}</td>
                    <td>{{une_sortie.verse}}</td>
                    <td>{{((une_sortie.quantite-une_sortie.restant-une_sortie.ration)*une_sortie.prix_unitaire)-une_sortie.verse}}<i (click)="open(content2,une_sortie)" class="fa fa-edit text-warning"></i></td>
                    <td>{{une_sortie.prix_unitaire}}</td>
                    <td>{{une_sortie.commission}}</td>
                </tr>
                <tr *ngIf="les_sorties.length==0" class="container w-100 center">
                    <td class="fw-bold" colspan="4">Pas de sorties pour cette date</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajoutervendeurcomponent"></ng-container>
</div>