<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        Attention
        <i class="fa fa-exclamation-circle" style.color="#ff0000"></i>: voulez vous supprimer l'entree {{id_produit_supprime.nom}}
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="modifier_sortie(id_produit_supprime,item);modal.close('Save click')">modifier</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
        <button type="button" class="btn btn-outline-success" (click)="suppression(id_produit_supprime.id_sortie);modal.close('Save click')">confirmer</button>
    </div>
</ng-template>


<!-- retour  -->
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ajouter le restant {{id_produit_supprime.nom}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">
        vous voulez ajouter le restant du {{id_produit_supprime.nom}} à la date {{item?.date | date:'dd MMMM YYYY'}}

        <form class="row">
            <div class="form-group required col">
                <label>retour</label>
                <input placeholder="restant" [(ngModel)]="id_produit_supprime.restant" required type="number" class="form-control" name="restant">
            </div>
        </form>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="retour(id_produit_supprime);modal.close('Save click')"><i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
    </div>
</ng-template>


<!-- nouveau versement -->

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">nouveau versement</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
    </div>
    <div class="modal-body">

        vous voulez faire un nouveau versement pour la sortie {{id_produit_supprime.nom}} à la date {{item?.date | date:'dd MMMM YYYY'}}

        <form class="row">
            <div class="form-group required col">
                <label>somme a verser</label>
                <input placeholder="verse" [(ngModel)]="id_produit_supprime.verse" required type="number" class="form-control" name="verse">
            </div>
        </form>

    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-outline-warning" (click)="modal.close('Save click');verser(id_produit_supprime)">versement</button>
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('Save click')">annuler</button>
    </div>
</ng-template>



<div class="container">

    <div class="row">
        <div class="col"><button class="btn btn-primary" (click)="ajouter_vendeur()">Ajouter Vendeur</button></div>
        <div class="col"><button class="btn btn-warning" (click)="modifier_vendeur()">Modifier</button></div>
        <div class="col"><button class="btn btn-danger">Supprimer</button></div>
    </div>
    <div>


        <div class="col-md-8 mt-4">
            <h6 class="card-title m-b-20">Information Général du vendeur</h6><br>
            <div class="m-b-30">
                <ul class="list-group">

                    <li class="list-group-item">
                        Libellé : <strong>{{vendeur?.nom}}</strong>
                    </li>
                    <li class="list-group-item">
                        Description : <strong>{{vendeur?.description}}</strong>
                    </li>
                    <li class="list-group-item">
                        Dette : <strong>{{vendeur?.dette}}</strong>
                    </li>
                    <li class="list-group-item">
                        Téléphone : <strong>{{vendeur?.telephone}}</strong>
                    </li>
                    <li class="list-group-item">
                        Adresse : <strong>{{vendeur?.adresse}}</strong>
                    </li>
                </ul>
            </div>
        </div>

        <br/><br/>

        <div class="table-responsive">
            <table id="excel-table" class="table table-stripped table
                table-hover table-center mb-0 bg-light">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vendeur</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Q. vendue</th>
                        <th scope="col">Q. Restante</th>
                        <th scope="col">Rations </th>
                        <th scope="col">M. vendu</th>
                        <th scope="col">M. versé</th>
                        <th scope="col">Reliquat</th>
                        <th scope="col">Prix unitaire</th>
                        <th scope="col">Commissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr (dblclick)="open(content,une_sortie)" *ngFor="let une_sortie of les_sorties | filter:recherche;let i=index ">
                        <th scope="row">{{i+1}}</th>
                        <td>{{une_sortie.vendeur}}</td>
                        <td>{{une_sortie.nom}}</td>
                        <td>{{une_sortie.quantite}}</td>
                        <td>{{une_sortie.quantite-une_sortie.restant}}</td>
                        <td>{{une_sortie.restant}}<i (click)="open(content1,une_sortie)" class="fa fa-edit text-warning"></i></td>
                        <td>{{une_sortie.ration}}</td>
                        <td>{{(une_sortie.quantite-une_sortie.restant-une_sortie.ration)*une_sortie.prix_unitaire}}</td>
                        <td>{{une_sortie.verse}}</td>
                        <td>{{((une_sortie.quantite-une_sortie.restant-une_sortie.ration)*une_sortie.prix_unitaire)-une_sortie.verse}}<i (click)="open(content2,une_sortie)" class="fa fa-edit text-warning"></i></td>
                        <td>{{une_sortie.prix_unitaire}}</td>
                        <td>{{une_sortie.commission}}</td>
                        <!-- <td class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-danger">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </td> -->
                    </tr>
                    <tr *ngIf="api.global.sortie_par_jours_par_enregistreur.length==0" class="container w-100 center">
                        <td class="fw-bold" colspan="4">Pas de sorties pour cette date</td>

                    </tr>
                </tbody>
            </table>

        </div>
        <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart> -->
    </div>
    <div class="fixed-bottom couleurgrise">
        <ng-container *ngComponentOutlet="ajoutervendeurcomponent"></ng-container>
    </div>