<div class="main-container">
    <section class="row section-1 d-flex">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title-section-1">A Propos</h1>
            <p class="short-description">Gérez le stock de vos magasins, boutiques, pharmacies ou boulangéries avec une seule et unique application accessible de partout</p>
            <div class="button-container d-flex justify-content-center">
                <button class="btn btn-black" [routerLink]="['/connexion']">Gérez Mon Entreprise</button>
            </div>
        </div>

    
    
            <br>
        <div class="d-flex justify-content-center align-items-center">
            <img class="image" src="../../assets/images/gestion-stock.png" alt="Gestion stock">

        </div>
    </section>
    <section class="section-2">
        <h1 class="title-section-2">Fonctionnalités de l'application</h1>
        <article class="description">L'application est disponible sur toutes les plateformes (Ordinateur, téléphone) avec un niveau de sécurité et une fléxibilité incontournable</article>
        <article>Une fois que votre magasins ou boutique est inscrit</article>
        <ol>
            <li>Vous pouvez manager votre équipe</li>
            <li>Gérer votre stock</li>
            <li>Suivre les sorties de votre stock</li>
            <li>Personnaliser les informations de votre entreprise</li>
        </ol>
    </section>
    <section class="section-2">
        <h1 class="title-section-2">À propos</h1>
        <article class="description">Gestion de Stock Universelle et un logiciel de gestion qui vous permet de gérer toute entrée-sortie de manière sécurisé et surtout pratique</article>
        <article class="description">La plateforme a été créée à l'occasion du H24CODE (18/19 Septembre 2021) </article>
    </section>
    <section class="section-2">
        <h1 class="title-section-2">Ont participé au week-end </h1>
        <ul>
            <li>Mouhamed Amar (Directeur de FASTISOFT / Master 2 - Business Intelligence)</li>
            <li>Amadou Sara Diallo (Directeur des Systeme informatique de FASTISOFT / Master 2 - Systèmes des Informations Réparties)</li>
            <li>Mohamed Diassy ( Directeur Adjoint de FASTISOFT / Master 2 - Business Intelligence)</li>
            <li>Babacar Ndong (Trésorier FASTISOFT / Master 1 - Systèmes des Informations Réparties)</li>
            <li>Mamour Houma Deme (Directeur de Gestion de FASTISOFT / Master 2 - Systèmes des Informations Réparties)</li>
            <li>Tafsir Mbodj Ndiour ( Représentant de META / Master 1 - Systèmes des Informations Réparties)</li>
            <li>Bassirou Gueye (Responsable Markting de FASTISOFT / Master 1 - Systèmes des Informations Réparties)</li>
        </ul>
    </section>
</div>
