<div class="main-container">
    <section class="section-1 d-flex">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title-section-1">Gérez votre stock facilement</h1>
            <p class="short-description">Lorem eiusmod officia consequat minim esse deserunt culpa pariatur Lorem 
                incididunt. Incididunt nisi magna ut voluptate.</p>
            <div class="button-container d-flex justify-content-center">
                <button class="btn btn-black">Commencez</button>
                <button class="btn btn-white">S'inscrire</button>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../assets/images/gestion-stock.png" alt="Gestion stock">
        </div>
    </section>
    <section class="section-2">
        <h1 class="title-section-2">À propos</h1>
        <article class="description">Sit enim culpa cillum enim tempor nulla nisi magna veniam. Anim nulla excepteur 
            incididunt enim est. Do voluptate ex irure cupidatat esse amet nostrud.
            Labore minim aliqua commodo aute id labore dolor incididunt. Duis consequat ipsum 
            qui mollit mollit cupidatat eu adipisicing reprehenderit incididunt. Excepteur 
            tempor velit incididunt incididunt irure est id pariatur exercitation id proident 
            ex amet est. Sit ad amet ipsum pariatur aliquip. Laborum id ipsum ut aute 
            reprehenderit nulla aliqua deserunt ex aliquip. Enim aliqua id non minim.</article>
    </section>
</div>
