<div class="container">
    <div class="row">
        <div class="col"><button class="btn btn-primary" (click)="ajouter_fournisseur()">Ajouter Fournisseur</button></div>
        <div class="col"><button class="btn btn-warning"  (click)="modifier_fournisseur()" >Modifier</button></div>
        <div class="col"><button class="btn btn-danger">Supprimer</button></div>
    </div>
    <div class="col-md-8 mt-4">
        <h6 class="card-title m-b-20">Information Général</h6>
        <div class="m-b-30">
            <ul class="list-group">
                <li class="list-group-item">
                    Libellé : <strong>{{fournisseur?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Description : <strong>{{fournisseur?.description}}</strong>
                </li>
                <li class="list-group-item">
                    Dette : <strong>{{fournisseur?.dette}}</strong>
                </li>
                <li class="list-group-item">
                    Téléphone : <strong>{{fournisseur?.telephone}}</strong>
                </li>
                <li class="list-group-item">
                    Adresse : <strong>{{fournisseur?.adresse}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterfournisseurcomponent"></ng-container>
</div>
