<div class="">
    <div class="d-flex justify-content-between">
        <div class="fw-bold">{{item?.nom_produit}}</div>
        <span  class="material-icons croix">
  
        </span>
    </div>
    <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary">
            Stock <span class="badge bg-secondary">{{item.stock}}</span>
        </button>
        <button type="button" class="btn btn-warning">
            Montant <span class="badge bg-secondary">{{item.montant}}</span>
        </button>
    </div>
  
  </div>
  