<div class="container m-5">
    <div class="row">
        <div class="col-md-4">
            <h6 class="card-title m-b-20">Action</h6>
            <div><button class="btn btn-warning m-1 col-md-4">Modifier</button></div>
            <div><button class="btn btn-danger m-1 col-md-4">Supprimer</button></div>
        </div>
        <div class="col-md-8">
            <h6 class="card-title m-b-20">Information Général</h6>
            <div class="m-b-30">
                <ul class="list-group">
                    <li class="list-group-item">
                        Prénom : <strong>Sara</strong>
                    </li>
                    <li class="list-group-item">
                        Nom : <strong>Diallo</strong>
                    </li>
                    <li class="list-group-item">
                        Téléphone : <strong>767676567</strong>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>