<div class="container" [ngClass]="{'disabled_div_event':produit?.etat==-1}">

    <div class="d-flex mb-2 les_statistiques">
        <button (click)="choisir_jour(item)" *ngFor="let item of api.global.entree_par_jours_par_enregistreur;let first = first;" type="button" [ngClass]="item==jour?'btn bg-white text-primary': 'btn bg-primary text-white'">
            {{item.date| date :'dd MMMM YYYY'}} <br>
            <span class="badge bg-primary">{{item.chiffre}}</span>
        </button>
    </div>
    <div class="row">
        <div class="card col-md-5 p-2">
            <h1>Détails <i class="fa fa-trash right croix m-2" (click)="supression_produit()" > </i><i class="fa fa-edit right croix m-2" (click)="modifier_produit()" ></i> </h1>
            <ul class="list-group">
                <li class="list-group-item">
                    Libellé : <strong>{{produit?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Unité : <strong>{{produit?.unite}}</strong>
                </li>
                <li class="list-group-item">
                    Prix d'achat : <strong>{{produit?.prix_unitaire}}</strong>
                </li>
                <li class="list-group-item">
                    Catégorie : <strong>{{produit?.categorie}}</strong>
                </li>
            </ul>
            <h4>Statistiques</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    Consommation moyenne : <strong>{{produit?.moyenne|number}}</strong> {{produit?.unite}} / jour
                </li>
                <li class="list-group-item">
                    Consommation minimale :  <strong>{{produit?.min|number}}</strong> {{produit?.unite}} / jour
                </li>
                <li class="list-group-item">
                    Consommation maximale :  <strong>{{produit?.max|number}}</strong> {{produit?.unite}} / jour
                </li>
                <li class="list-group-item">
                    Jours restant : <strong>{{produit?.nb_jour|number}}</strong> jour
                    <i class="fa-2x fa fa-bell right" [ngClass]="{'niveau_1':produit?.nb_jour<4,'niveau_2':(produit?.nb_jour>=4 && produit?.nb_jour<8),'niveau_3':produit?.nb_jour>=8}"></i>
                </li>
            </ul>
        </div>
        <div class="card col-md-7 p-2">
            <h2 class="card-title"><span class="lien" (click)="api.navigate_fenetre('fenetre_entree')">Entrée</span> 
                <i class="fa fa-add fa-1x icone_ajouter" (click)="ajouter_entree()"></i>
                <span
                    class="right bg-primary btn text-white">{{get_sum_entree()|number}} fcfa</span></h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of les_details?.entree">
                    {{item.quantite+" "+item.unite+" "+item.nom}} 
                    
                <div class="row voir_plus">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <i class="fa-ellipsis-v fa 2x right" ngbDropdownToggle></i>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="modifier_entree(item)">Modifier <i
                                        class="fa fa-pen right text-warning"></i> </button>
                                <button ngbDropdownItem (click)="supprimer_entree(item)">Supprimer <i
                                        class="fa fa-trash text-danger right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                    <strong
                        class="right">{{item.quantite*item.prix_unitaire}} fcfa</strong>
                </li>
                <li class="list-group-item" *ngIf="les_details?.entree.length==0">
                    pas d'entrée
                </li>
            </ul>
            <hr>
            <h2 class="card-title"> <span class="lien" (click)="api.navigate_fenetre('fenetre_consommation')"> Consommation</span>
                <i class="fa fa-add fa-1x icone_ajouter" (click)="ajouter_consommation()"></i>
                 <span class="right bg-primary btn text-white">
                    {{get_sum_consommation()|number}} fcfa</span></h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of les_details?.consommation">
                    {{item.quantite+" "+item.unite+" "+item.nom}} 
                    
                <div class="row voir_plus">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <i class="fa-ellipsis-v fa 2x right" ngbDropdownToggle></i>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="modifier_consommation(item)">Modifier <i
                                        class="fa fa-pen right text-warning"></i> </button>
                                <button ngbDropdownItem (click)="supprimer_consommation(item)">Supprimer <i
                                        class="fa fa-trash text-danger right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                    <strong
                        class="right">{{item.quantite*item.prix_unitaire}} fcfa</strong>
                </li>
                <li class="list-group-item" *ngIf="les_details?.consommation.length==0">
                    pas de consommation
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproduitcomponent"></ng-container>
</div>