<div class="container">
        <div class="row">
            <div class="col"><button class="btn btn-primary" (click)="ajouter_produit()">Ajouter Produit</button></div>
            <div class="col"><button class="btn btn-warning"  (click)="modifier_sortie()" >Modifier</button></div>
            <div class="col"><button class="btn btn-danger">Supprimer</button></div>
        </div>
        <div class="col-md-8 mt-4">
            <h6 class="card-title m-b-20">Information Général</h6>
            <div class="m-b-30">
                <ul class="list-group">
                    <li class="list-group-item">
                        Libellé : <strong>{{produit?.nom}}</strong>
                    </li>
                    <li class="list-group-item">
                        Quantité : <strong>{{produit?.stock}}</strong>
                    </li>
                    <li class="list-group-item">
                        Prix Unitaire : <strong>{{produit?.prix_unitaire}}</strong>
                    </li>
                    <li class="list-group-item">
                        Catégorie : <strong>{{produit?.categorie}}</strong>
                    </li>
                </ul>
            </div>
        </div>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproduitcomponent"></ng-container>
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="modifierproduitcomponent"></ng-container>
</div>