<div class="container">
    <div class="row">
        <div class="col"><button class="btn btn-primary" (click)="ajouter_produit()">Ajouter Produit</button></div>
        <div class="col"><button class="btn btn-warning" (click)="modifier_produit()">Modifier</button></div>
        <div class="col"><button class="btn btn-danger">Supprimer</button></div>
    </div>
    <div class="col-md-8 mt-4">
        <h6 class="card-title m-b-20">Information Général</h6>
        <br>
        <div class="m-b-30">
            <ul class="list-group">
                <li class="list-group-item">
                    Libellé : <strong>{{produit?.nom}}</strong>
                </li>
                <li class="list-group-item">
                    Stock : <strong>{{produit?.stock}}</strong>
                </li>
                <li class="list-group-item">
                    Prix Unitaire : <strong>{{produit?.prix_unitaire}}</strong>
                </li>
                <li class="list-group-item">
                    Catégorie : <strong>{{produit?.categorie}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <!-- <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart> -->
</div>
<div class="fixed-bottom couleurgrise">
    <ng-container *ngComponentOutlet="ajouterproduitcomponent"></ng-container>
</div>