<p>Informations de l'entreprise</p>
<div>
    <div>
        <input type="text" name="nom_entreprise"  placeholder="nom de l'entreprise" [(ngModel)]="infos_form.nom_entreprise" />
    </div>
    <div>
        <input type="text" name="logo" placeholder="logo" [(ngModel)]="infos_form.logo">
    </div>
    <div>
        <input type="text" name="description" placeholder="description" [(ngModel)]="infos_form.description">
    </div>
    <div>
        <input type="text" name="adresse" placeholder="adresse" [(ngModel)]="infos_form.adresse">
    </div>
    <div>
        <input type="text" name="email" placeholder="email" [(ngModel)]="infos_form.email">
    </div>
    <div>
        <input type="text" name="telephone" placeholder="telephone" [(ngModel)]="infos_form.telephone">
    </div>
    <div>
        <button (click)="inscrire()">Inscrire</button>
    </div>
</div>
